<section class="page page--home">
  <img src="assets/images/70-logo.jpg" alt="70 Logo" class="top-right-logo-70">
  <img src="assets/images/ubm.svg" alt="UBM Logo" class="top-right-logo">
  <h1><span class="text-white">Welcome to the </span>
  <span ><span class="text-pink" >Grand Final</span> <span class="text-white">!</span></span>
  </h1>
  <p>The lights are dimmed, the crowd is roaring, and millions are watching.
    <span class="text-pink"><b>It's your time</b></span> to shine on the world's biggest stage. </p>
  <p><span class="text-pink"><b>Sing your performance</b></span> with passion,
    watch your rivals take the spotlight, and cast your tactical votes.</p>
  <p>Will you bring the trophy home?</p>
  <button class="start-button" (click)="navigateToSelectCountry()">Enter the Race</button>
</section>

